<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssh.sm2_update.mapper.LiveAudioTempMapper">
  <resultMap id="BaseResultMap" type="com.sm2.bcl.content.entity.LiveAudio">
    <id column="id" jdbcType="BIGINT" property="id" />
    <association property="liveCategory" javaType="com.sm2.bcl.content.entity.LiveCategory">
      <id property="id" column="id" />
    </association>
  </resultMap>

  <insert id="insert" parameterType="com.sm2.bcl.content.entity.LiveAudio">
    insert into content_t_liveaudio_temp (id,liveCategory,locatedInRegionCode,providerCate)
    values
    (#{id,jdbcType=BIGINT}, #{liveCategory.id,jdbcType=BIGINT},#{locatedInRegionCode}, #{providerCate)
  </insert>

  <insert id="batchInsert" parameterType="com.sm2.bcl.content.entity.LiveAudio">
    insert into content_t_liveaudio_temp (id,liveCategory,locatedInRegionCode,providerCate)
    values
    <foreach collection="collection" separator="," item="obj">
    (#{obj.id,jdbcType=BIGINT}, #{obj.liveCategory.id,jdbcType=BIGINT},#{obj.locatedInRegionCode}, #{obj.providerCate,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <update id="createTable">
    CREATE TABLE `content_t_liveaudio_temp` (
      `locatedInRegionCode` varchar(255) DEFAULT NULL,
      `id` bigint(20) NOT NULL,
      `liveCategory` bigint(20) DEFAULT NULL,
      `providerCate` varchar(50) DEFAULT NULL,
      PRIMARY KEY (`id`),
      KEY `FK_lwjmur545lwqixaac7628yf90` (`liveCategory`) USING BTREE
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
  </update>

  <update id="dropTable">
    DROP TABLE IF EXISTS content_t_liveaudio_temp
  </update>

  <update id="renameTable" parameterType="String">
    alter table content_t_liveaudio_temp rename ${_parameter}
  </update>

  <update id="createTrigger" parameterType="string" statementType="STATEMENT">
      CREATE TRIGGER ${triggerName} AFTER INSERT ON `content_t_liveaudio_temp` FOR EACH ROW begin
      INSERT IGNORE INTO ${userDB}.`user_t_weakliveaudio` (id) VALUES (new.id);
      end;
  </update>
</mapper>